#join {
    padding: 6rem 1.5rem;
    background-color: white;
}

.join-container {
    max-width: 800px;
    margin: 0 auto;
}

.join-container .section-title {
    text-align: center;
    margin-bottom: 3rem;
}